<header id="app-header">
  <nav class="menu">
    <img src="/assets/logo.png" alt="Netflix Home" class="app-logo" />
    <a href="/home" class="app-menu-item">Home</a>
    <a href="/tv" class="app-menu-item">Tv Shows</a>
    <a href="/movies" class="app-menu-item">Movies</a>
    <a href="/latest" class="app-menu-item">New & Popular</a>
    <a href="/latest" class="app-menu-item">My List</a>
  </nav>
  <section class="app-options">
    <img src="/assets/search.svg" alt="" class="icon search">
    <img src="/assets/bell.svg" alt="" class="icon bell">
  </section>
</header>
