$overlayColor: rgba(0,0,0,0.75);

.modal-overlay {
  display: flex;
  justify-content: center;
  visibility: hidden;
  background: $overlayColor;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  z-index: 100;
  opacity: 0;
  transition: 0.20s ease-in-out;

  &.is-open {
    visibility: visible;
    opacity: 1;

    .modal {
      animation: openModal 0.25s;
    }
  }

  .modal {
    position: fixed;
    background: white;
    top: 25%;
    min-width: 40vw;
    padding: 24px;
    border-radius: 4px;
    animation: closeModal 0.25s;

    button.close-modal {
      position: absolute;
      top: 0;
      left: -24px;
      width: 24px;
      height: 24px;
      box-sizing: border-box;
    }

    .modal-content {
      margin: 12px 0;
    }
  }
}

@keyframes openModal {
  0% {
    transform: translateY(-5vh);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes closeModal {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5vh);
  }
}
