#hero-banner {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 72px;
  min-height: 600px;
  height: 60vh;
  width: 100vw;
  background: url('/assets/hero/bg.webp') no-repeat;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;

  .banner-content {
    padding: 56px;
    max-width: 27vw;
    color: #FFFFFF;

    .synopsis {
      font-weight: 400;
      font-family: 'Netflix sans';
      font-size: 20px;
      margin: 24px 0;
      transition: 1.2s linear;
      transition-delay: 0;
    }

    img.title-name {
      max-width: 30vw;
      transition: 1s linear;
      transition-delay: 0;
      transform: scale(1) translate3d(35px, 0px, 0px);
    }
  }

  &:hover {
    .synopsis {
      pointer-events: none;
      transform: translate3d(0px ,100px, 0px);
      opacity: 0;
      transition-delay: 1000ms !important;
    }

    img.title-name {
      transform: translate3d(0px, 100px, 0px) scale(0.7) !important;
      transform-origin: left bottom;
      transition-delay: 1000ms !important;
    }
  }
}

