<section id="hero-banner">
  <div class="banner-content">
    <img src="{{'/assets/' + content.img}}" alt="" class="title-name">
    <div class="synopsis">
      {{content.synopsis}}
    </div>
    <div class="btn-container">
      <button class="btn btn-primary">
        <img src="/assets/play.svg" alt="" class="icon play">
        <span class="btn-text">Play</span>
      </button>
      <button class="btn btn-secondary">
        <img src="/assets/info.svg" alt="" class="icon info">
        <span class="btn-text">More Info</span>
      </button>
    </div>
  </div>
</section>
