/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.center {
  text-align: center;
}


#app-footer {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  padding: 8px;
  background: #eff3f6;

  a {
    margin-left: 0.25em;
  }
}


.home-component {
  margin: 24px 0;
  span {
    display: inline-block;
    vertical-align: middle;
    margin: 4px;
  }
}

.bold-1 {
  font-weight: 500;
}

.bold-2 {
  font-weight: 600;
}

.bold-3 {
  font-weight: 700;
}



.card svg.material-icons path {
  fill: #888;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}

.card {
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  height: 40px;
  width: 200px;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;

  .hover-content {
    font-size: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
  }
}

.card-container .card:not(:last-child) {
  margin-right: 0;
}

.card.card-small {
  height: 16px;
  width: 168px;
}

.card-container .card:not(.highlight-card) {
  cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);

  .hover-content {
    font-size: 0.8em;
    opacity: 1;
    visibility: visible;
    height: auto;
  }
}

.card-container .card:not(.highlight-card):hover .material-icons path {
  fill: rgb(105, 103, 103);
}

.card.highlight-card {
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}

.card.card.highlight-card span {
  margin-left: 60px;
}



.route-modal .modal-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;

}
